* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    text-decoration: none;
    font-family: inherit;
    box-sizing: border-box;
    position: relative;
}

ol,
ul,
li {
    list-style: none;
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a img {
    border: none;
}

button,
a {
    cursor: pointer;
    color: inherit;
}

textarea {
    resize: none;
}

button,
input,
textarea,
select {
    appearance: none !important;
    -webkit-appearance: none !important;
    border-radius: 0;
}

body {
    background-color: #ffeedf;
}

#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 62px;

    position: absolute;
    left: 50%;
    transform: translateX(-30%);
}


.card {
    width: 290px;
    height: 416px;
    padding: 27px;
    background-color: #fff;
}

h2 {
    font-family: 'EB Garamond', serif;
    font-size: 48px;
    font-weight: normal;
    color: #33793f;
}
    
h6 {
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color:#999;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

p {
    padding-top: 20px;
    font-family: 'EB Garamond', serif;
    font-size: 24px;
    color:#999;
}

span {
    display: inline-block;
    padding-top: 20px;
}

.space::first-letter {
    padding-left: 4px;
}

.space {
    padding-top: 0px;
}

@media only screen and (max-width: 460px) {
    #root {
        flex-direction: column;
        top:20px;
        transform: translateX(-50%);
    }

}